<div class="wrapper {wrapperClass}">

	<f:render partial="Header/{settings.layout.useHeader}" arguments="{_all}" />
	
	<div class="body">
		<f:render section="content" />
	</div>
	
	<f:render partial="Footer/{settings.layout.useFooter}" arguments="{_all}" />
	
</div>