{namespace n=Tx_News_ViewHelpers}

<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">
		<f:if condition="{settings.list.paginate}">
			<f:if condition="{pagination.current} > 1">
				<n:headerData><link rel="prev" href="<f:widget.uri arguments="{currentPage: pagination.previousPage}" />" /></n:headerData>
			</f:if>
			<f:if condition="{pagination.nextPage}">
				<n:headerData><link rel="next" href="<f:widget.uri arguments="{currentPage: pagination.nextPage}" />" /></n:headerData>
			</f:if>
		</f:if>

		
			<ul class="pagination">

				<f:if condition="{pagination.previousPage} > 0">
					<f:then>
						<li><f:widget.link arguments="{currentPage: pagination.previousPage}">«</f:widget.link></li>
					</f:then>
					<f:else>
						<li class="disabled"><a href="#">«</a></li>
					</f:else>
				</f:if>

				<f:if condition="{pagination.lessPages}">
					<li>....</li>
				</f:if>

				<f:for each="{pagination.pages}" as="page">
					<f:if condition="{page.isCurrent}">
						<f:then>
							<li class="active"><f:widget.link>{page.number}</f:widget.link></li>
						</f:then>
						<f:else>
							<li>
								<f:if condition="{page.number} > 1">
									<f:then>
										<f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
									</f:then>
									<f:else>
										<f:widget.link>{page.number}</f:widget.link>
									</f:else>
								</f:if>
							</li>
						</f:else>
					</f:if>
				</f:for>

				<f:if condition="{pagination.morePages}">
					<li>....</li>
				</f:if>

				<f:if condition="{pagination.nextPage} > 0">
					<f:then>
						<li><f:widget.link arguments="{currentPage: pagination.nextPage}">»</f:widget.link></li>
					</f:then>
					<f:else>
						<li class="disabled"><a href="#">»</a></li>
					</f:else>
				</f:if>

			</ul>


	</f:if>
</f:section>
