
/* Headers */
.csc-header-alignment-center { text-align: center; }
.csc-header-alignment-right { text-align: right; }
.csc-header-alignment-left { text-align: left; }

/* figure style */
figure { 
	margin: 0; 
	img, iframe {
		position: relative; 
		z-index: 1;
	}
	figcaption { 
		margin: 0; 
		padding-top: (@line-height-computed / 2); 
		text-align: center; 
		position: relative; 
		font-size: @font-size-small;
		z-index: 2; 
		font-style: italic; 
	}
	.csc-textpic-caption-r {
		text-align: right;
	}
	.csc-textpic-caption-l {
		text-align: left;
	}
}

/* figure special style */
.figure { 
	text-align: center; 
	&-left {
		margin-right: @line-height-computed; 
		float: left; 
		display: table; 
		max-width: 100%; 
		table-layout: fixed;
		margin-bottom: (@line-height-computed / 2);
		margin-bottom: (@line-height-computed / 2);
		figcaption {
			 display: table-caption; 
			 caption-side: bottom;	
		}
	}
	&-right {
		margin-left: @line-height-computed;
		float: right;
		display: table;
		max-width: 100%;
		table-layout: fixed;
		margin-bottom: (@line-height-computed / 2);
		margin-bottom: (@line-height-computed / 2);
		figcaption {
			 display: table-caption; 
			 caption-side: bottom;	
		}
	}
	&-center { 
		margin: 0 auto;
		display: block; 
		clear: both; 
		display: table; 
		max-width: 100%; 
		table-layout: fixed;
		margin-bottom: (@line-height-computed / 2);
		margin-bottom: (@line-height-computed / 2);
		figcaption {
			 display: table-caption; 
			 caption-side: bottom;	
		}
	}
	&-beside {
		margin-top: @line-height-computed;	
	}
	&-left, &-right, &-center {
		img { 
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			max-width: 100%;
			width: 100% !important;
		}
	}
}

.beside-text { display: table; }
.beside-text-inner { display: table-cell; }
 
.gallery {
	list-style: none outside none;
}

/* uploads */
.uploads {
	.uploads-icon, .uploads-image {
		margin-right: (@line-height-computed / 2);
	}
	.uploads-icon img {
		vertical-align: text-top;
	}
	.uploads-filename {
		font-weight: bold;
		margin-bottom: 0px;
	}
	.uploads-filesize, .uploads-description {
		margin-top: (@line-height-computed / 2);	
	}
	&-layout3 {
		.list-group-item {
			overflow: hidden;
		}
		.uploads-filename {
			font-size: @font-size-large;
		}
	}
}

/* form */
.csc-form-element {
	margin-bottom: 15px;
	label {
		span {
			&.glyphicon {
				color: @brand-danger;
				font-size: @font-size-small;
				margin-left: (@line-height-computed / 2);
			}
			div {
				font-family: @font-family-base;
				display: inline-block;
				margin-left: (@line-height-computed / 2);
			}
		}
	}
}

/*div.body {
	padding-top: (@menu-height-fixed);
}*/

.fieldset-subgroup {
	legend {
		margin-bottom: 10px;
	}
	margin-bottom: 10px;
}

/* twv override */
.navbar-brand {
    padding: 10px 15px;
}

.submenu .nav {
	display: none;
    padding-bottom: 10px;
}

.submenu {
	li {
		a {
			padding: (@line-height-computed / 4) (@line-height-computed / 2);
		}
	}
	.nav {
		display: none;
    	padding-bottom: 10px;
		li {
			padding-left: @line-height-computed;
		}
	}
	.active {
		&> a {
			border-left: solid 2px @brand-primary;	
		}	
		.nav {
			display: block;
		}
	}
}
