/* Headers */
.csc-header-alignment-center {
  text-align: center;
}
.csc-header-alignment-right {
  text-align: right;
}
.csc-header-alignment-left {
  text-align: left;
}
/* figure style */
figure {
  margin: 0;
}
figure img,
figure iframe {
  position: relative;
  z-index: 1;
}
figure figcaption {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  position: relative;
  font-size: 12px;
  z-index: 2;
  font-style: italic;
}
figure .csc-textpic-caption-r {
  text-align: right;
}
figure .csc-textpic-caption-l {
  text-align: left;
}
/* figure special style */
.figure {
  text-align: center;
}
.figure-left {
  margin-right: 20px;
  float: left;
  display: table;
  max-width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}
.figure-left figcaption {
  display: table-caption;
  caption-side: bottom;
}
.figure-right {
  margin-left: 20px;
  float: right;
  display: table;
  max-width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}
.figure-right figcaption {
  display: table-caption;
  caption-side: bottom;
}
.figure-center {
  margin: 0 auto;
  display: block;
  clear: both;
  display: table;
  max-width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}
.figure-center figcaption {
  display: table-caption;
  caption-side: bottom;
}
.figure-beside {
  margin-top: 20px;
}
.figure-left img,
.figure-right img,
.figure-center img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 100%;
  width: 100% !important;
}
.beside-text {
  display: table;
}
.beside-text-inner {
  display: table-cell;
}
.gallery {
  list-style: none outside none;
}
/* uploads */
.uploads .uploads-icon,
.uploads .uploads-image {
  margin-right: 10px;
}
.uploads .uploads-icon img {
  vertical-align: text-top;
}
.uploads .uploads-filename {
  font-weight: bold;
  margin-bottom: 0px;
}
.uploads .uploads-filesize,
.uploads .uploads-description {
  margin-top: 10px;
}
.uploads-layout3 .list-group-item {
  overflow: hidden;
}
/* form */
.csc-form-element {
  margin-bottom: 15px;
}
.csc-form-element label span div {
  display: inline-block;
  margin-left: 10px;
}
.fieldset-subgroup {
  margin-bottom: 10px;
}
.fieldset-subgroup legend {
  margin-bottom: 10px;
}
/* twv override */
.navbar-brand {
  padding: 10px 15px;
}
.submenu .nav {
  display: none;
  padding-bottom: 10px;
}
.submenu li a {
  padding: 5px 10px;
}
.submenu .nav {
  display: none;
  padding-bottom: 10px;
}
.submenu .nav li {
  padding-left: 20px;
}
.submenu .active > a {
  border-left: solid 2px #66bc29;
}
.submenu .active .nav {
  display: block;
}