	// Change bootstrap default path for font path.
@icon-font-path:          				"/typo3conf/ext/pxa_bootstrap/Resources/Public/Contrib/bootstrap/fonts/";

	// Border Radius (Deprecated mixin, remove when layouts are updated.)
	/* -webkit-border-radius: @radius;
       -moz-border-radius: @radius;*/
.border-radius(@radius) {
          border-radius: @radius;
}