{namespace n=Tx_News_ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}

<f:if condition="{settings.detail.disqus.enableComments} == 1">
	<f:if condition="{settings.detail.disqus.shortName}">
		<div class="disqus">
			<pxa:disqus.comments 
				disqusShortName="{settings.detail.disqus.shortName}" 
				disqusIdentifier="news_{newsItem.uid}" 
				disqusUrl="{pxa:SiteUrl(stripTrailingSlash:1)}{n:link(newsItem:newsItem, uriOnly:1)}"
				disqusTitle="{newsItem.title}"
				disqusLanguage=""
			/>
		</div>
	</f:if>	
</f:if>