{namespace n=Tx_News_ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}

<f:if condition="{newsItem.authorEmail}">
	<f:then>
		<small><small class="muted"><f:translate key="author" arguments="{0: ':'}" /></small></small>
		<div class="well">
			<div class="media">
				<div class="pull-left">
					<pxa:Google.Plus.ProfileImage email="{newsItem.authorEmail}" size="100" /><br />
				</div>	
				<div class="media-body">
					<h4 class="media-heading">{newsItem.author}</h4>

						<f:if condition="{newsItem.authorEmail}">
							
							<f:then>
								<f:link.email email="{newsItem.authorEmail}" class="btn btn-small"><i class="icon-fixed-width icon-envelope"></i></f:link.email>
							</f:then>
						</f:if>
						<pxa:Google.Plus.LinkAuthorRel email="{newsItem.authorEmail}" class="btn btn-small" target="_blank"><i class="icon-fixed-width icon-google-plus"></i></pxa:Google.Plus.LinkAuthorRel>
				</div>
			</div>
		</div>
	</f:then>
	<f:else>

	</f:else>
</f:if>
