{namespace n=Tx_News_ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}


<ul class="media-list">
	<li class="media">
		<f:if condition="{settings.detail.gravatar.enable} == 1">
			<f:if condition="{newsItem.authorEmail}">
				<span class="pull-left">
					<n:social.gravatar email="{newsItem.authorEmail}" size="64"></n:social.gravatar>
				</span>
			</f:if>
		</f:if>
	</li>
</ul>
