{namespace n=Tx_News_ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}


<f:if condition="{settings.detail.showSocialShareButtons}">
<div class="share">
	<div class="like">
		<n:social.facebook.like></n:social.facebook.like>
	</div>				
	<div class="twitter">
		<n:social.twitter>Twitter</n:social.twitter>
	</div>
	<div class="plus">
		<n:social.googleplus size="medium" />
	</div>
</div>
</f:if>	