{namespace n=Tx_News_ViewHelpers}
{namespace a=Tx_Aloha_ViewHelpers}

<f:if condition="{newsItem}">
	<f:then>
		<f:if condition="{newsItem.alternativeTitle}">		
			<f:then>
				<n:titleTag>
					<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
				</n:titleTag>
			</f:then>
			<f:else>
				<n:titleTag>
					<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
				</n:titleTag>
			</f:else>
		</f:if>

		<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />

		<f:if condition="{newsItem.media}">
				<f:comment><div class="news-flexslider flex-slider"></f:comment>
				<div class="content-slider">
					<ul class="slides">
    					<f:for each="{newsItem.media}" as="mediaElement">
							<li>
								<figure class="figure">
									<f:if condition="{mediaElement.type} == 0">
	  									<f:image 
	  										src="uploads/tx_news/{mediaElement.content}" 
	  										title="{mediaElement.title}" 
	  										alt="{mediaElement.alt}{f:if(condition: mediaElement.copyright, then: ' ©{mediaElement.copyright}', else: '')}" 
	  										width="{settings.detail.media.image.maxWidth}c" 
	  										height="{settings.detail.media.image.maxHeight}c"
	  									/>
									</f:if>
									<f:if condition="{mediaElement.type} == 1">
										<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}" />
									</f:if>
									<f:if condition="{mediaElement.type} == 3">
										<f:render partial="Detail/MediaDam" arguments="{mediaElement: mediaElement, settings:settings}" />
									</f:if>
									<f:if condition="{mediaElement.caption} OR {mediaElement.copyright}">
										<figcaption>
											{mediaElement.caption}
											<f:if condition="{mediaElement.copyright}">
												<span class="pull-right">© {mediaElement.copyright}</span>
											</f:if>
										</figcaption>
									</f:if>
								</figure>
							</li>
						</f:for>
					</ul>
				</div>
		</f:if>
		

		<span class="info">
			<small>
				<f:translate key="label.datetime" />&nbsp;<f:format.date format="Y-m-d h:m">{newsItem.datetime}</f:format.date>
			<f:if condition="{newsItem.tstamp}">
				&nbsp;&nbsp;<f:translate key="label.tstamp" />&nbsp;<f:format.date format="Y-m-d h:m">{newsItem.tstamp}</f:format.date>
			</f:if>
			<f:if condition="{newsItem.author}">
				&nbsp;&nbsp;
				<f:if condition="{newsItem.authorEmail}">
					<f:then>
						<f:link.email email="{newsItem.authorEmail}"><f:translate key="author" arguments="{0: newsItem.author}" /></f:link.email>
					</f:then>
					<f:else>
						<f:link.email email="{newsItem.authorEmail}" />
					</f:else>
				</f:if>
			</f:if>
			</small>
		</span>

		<hgroup>
			<h1><a:editable table="tx_news_domain_model_news" field="title" uid="{newsItem.uid}" configuration="{allow:'edit',class:'alohaeditable-block nostyles'}">{newsItem.title}</a:editable></h1>
			<h2><a:editable table="tx_news_domain_model_news" field="teaser" uid="{newsItem.uid}" configuration="{allow:'edit',class:'alohaeditable-block nostyles'}">{newsItem.teaser}</a:editable></h2>
		</hgroup>

		<div class="row">
			<div class="span6">
				<f:format.html><a:editable table="tx_news_domain_model_news" field="bodytext" uid="{newsItem.uid}" configuration="{allow:'all'}">{newsItem.bodytext}</a:editable></f:format.html>

			</div>
			<div class="span3">

				<f:render partial="Detail/GoogleAuthor" arguments="{newsItem:newsItem}" />

				<f:render partial="Detail/Share" arguments="{newsItem:newsItem, settings:settings}" />
				
			</div>

		</div>
				
		<f:render partial="Detail/FacebookComments" arguments="{newsItem:newsItem, settings:settings}" />

		<f:render partial="Detail/Disqus" arguments="{newsItem:newsItem, settings:settings}" />

		<f:if condition="{newsItem.contentElements}">
			<!-- content elements -->
			<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
		</f:if>

		<f:if condition="{newsItem.relatedSorted}">
			<!-- Related news records -->
			<div class="related">
				<h3><f:translate key="related-news" /></h3>
				<f:if condition="{settings.backPid}">
					<!-- Link Back -->
					<f:link.page pageUid="{settings.backPid}">
						<f:translate key="back-link" />
					</f:link.page>
				</f:if>
			</div>
			<div class="columns">
				<f:for each="{newsItem.relatedSorted}" as="related" iteration="newsIterator">
					<f:cycle values="{0:1,1:2,2:3}" as="relatedNewsCycle">
						
						<f:if condition="{relatedNewsCycle} == 3">
							<f:then>
								<div class="column one-third last">
							</f:then>
							<f:else>
								<div class="column one-third">
							</f:else>
						</f:if>

	                	
							<!-- widget starts 270x144 -->
							<div class="widget">
								<div class="data">
									<figure>
										<f:if condition="{related.media}">
											<f:then>
												<f:if condition="{related.mediaPreviews}">
													<f:then>
														<f:alias map="{mediaElement: related.mediaPreviews.0}">
															<f:if condition="{mediaElement.type} == 0">
																<f:image
																	src="uploads/tx_news/{mediaElement.image}"
																	title="{mediaElement.title}"
																	alt="{mediaElement.alt}{f:if(condition: mediaElement.copyright, then: ' ©{mediaElement.copyright}', else: '')}" 
																	width="{settings.detail.related.media.image.width}"
																	height="{settings.detail.related.media.image.height}"
																/>
															</f:if>
															<f:if condition="{mediaElement.type} == 1">
																<n:mediaFactory 
																	classes="{settings.interfaces.media.video}" 
																	element="{mediaElement}" 
																	width="{settings.detail.related.media.video.width}"
																	height="{settings.detail.related.media.video.height}"
																/>
															</f:if>
															<f:if condition="{mediaElement.type} == 2">
																<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
															</f:if>
															<f:if condition="{mediaElement.type} == 3">
																<n:format.dam as="dam" uid="{mediaElement.uid}">
																	<f:image src="{dam.file_path}{dam.file_name}" title="{dam.title}" alt="{dam.alt_text}" maxWidth="{settings.detail.related.media.image.width}" />
																</n:format.dam>
															</f:if>
														</f:alias>
													</f:then>
													<f:else>
														<f:if condition="{settings.displayDummyIfNoMedia}">
															<f:image
																src="{settings.list.media.dummyImage}"
																title=""
																alt=""
																width="{settings.detail.related.media.image.width}"
																height="{settings.detail.related.media.image.height}"
															/>
														</f:if>
													</f:else>
												</f:if>
											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
													<f:image
															src="{settings.list.media.dummyImage}"
															title=""
															alt=""
															width="{settings.detail.related.media.image.width}"
															height="{settings.detail.related.media.image.height}"
													/>
												</f:if>
											</f:else>
										</f:if>
									</figure>

									<f:if condition="{newsItem.teaser}">
										<f:then>
											<f:format.html><f:format.crop maxCharacters="100" respectWordBoundaries="true">{newsItem.teaser}</f:format.crop></f:format.html>
										</f:then>
										<f:else>
											<f:format.html><f:format.crop maxCharacters="100" respectWordBoundaries="true">{newsItem.bodytext}</f:format.crop></f:format.html>
										</f:else>
									</f:if>
									<n:link newsItem="{related}" class="link" settings="{settings}">{related.title}</n:link>
								</div>
							</div>
							<!-- widget ends -->                                
						</div>
						<f:if condition="{newsIterator.isLast}">
						<f:then>
						</f:then>
						<f:else>
							<f:if condition="{relatedNewsCycle} == 3">
								</div><div class="columns">
							</f:if>
						</f:else>
						</f:if>
					</f:cycle>
				</f:for>
			</div>
			
		</f:if>

		<f:if condition="{newsItem.relatedFiles}">
			<!-- Related files -->
			<div class="related">
				<h3><f:translate key="related-files" /></h3>
			</div>
			<ul class="uploads layout-0">
				<f:for each="{newsItem.relatedFiles}" as="relatedFile">
					<li>
						<span class="name">
							<n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
								<f:if condition="{relatedFile.title}">
									<f:then>
										{relatedFile.title}
									</f:then>
									<f:else>
										{relatedFile.file}
									</f:else>
								</f:if>
							</n:format.fileDownload>
						</span>
						<span class="description">
							<f:format.raw><f:format.crop maxCharacters="50" respectWordBoundaries="true">{relatedFile.description}</f:format.crop></f:format.raw>		
						</span>
						<span class="size">
							<n:format.fileSize file="uploads/tx_news/{relatedFile.file}" format="{settings.relatedFiles.fileSizeLabels}" />
						</span>
					</li>
				</f:for>
			</ul>
		</f:if>

		<f:if condition="{newsItem.relatedLinks}">
			<!-- Related links -->
			<div class="related">
				<h3><f:translate key="related-links" /></h3>
			</div>
			<ul class="uploads layout-0">
				<f:for each="{newsItem.relatedLinks}" as="relatedLink" iteration="linkIterator">
					<li>
						<span class="name"><f:link.page pageUid="{relatedLink.uri}">{relatedLink.title}</f:link.page></span>
						<span class="description"><f:format.raw><f:format.crop maxCharacters="100" respectWordBoundaries="true">{relatedLink.description}</f:format.crop></f:format.raw></span>
					</li>
				</f:for>
			</ul>
		</f:if>

	</f:then>
	<f:else>

	</f:else>
</f:if>
