<f:layout name="{settings.layout.useLayout}" />

<f:section name="content">
  	<div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <f:format.raw>{breadcrumbs}</f:format.raw>
        </div>
      </div>

  		<div class="row">
        <div class="col-md-12">
    			<f:format.raw>{content_col_0}</f:format.raw>
    		</div>
    	</div>

  	</div>
</f:section>
