<f:layout name="{settings.layout.useLayout}" />

<f:section name="content">
  	<div class="container">
      <div class="row">
        <div class="col-md-12">
          <f:format.raw>{breadcrumbs}</f:format.raw>
        </div>
      </div>

  		<div class="row">
        <div class="col-md-6 col-md-push-3">
          <f:format.raw>{content_col_0}</f:format.raw>
    		</div>

        <div class="col-md-3 col-md-push-3">
          <f:format.raw>{content_col_2}</f:format.raw>
        </div>
        
        <div class="col-md-3 col-md-pull-9">
          <f:format.raw>{submenu}</f:format.raw>
          <f:format.raw>{content_col_1}</f:format.raw>
        </div>
        

        
    	</div>

  	</div>
</f:section>
